:root {
  --neon-green: #00ff7f;
  --dark-bg: #080b10;
  --input-text: #1a4d32;
  --neon-red: #FF003F;
  --dark-red: rgba(255, 0, 63, 0.1);
}

#bgCanvas{
  display: block;
  position: fixed;
  inset: 0;
  z-index: -9999; 
  width: 100vw;
  background: #000;
}

.popUp-content-wrapper{
  background-color: rgba(8, 11, 16, 0.9);
  border: 1px solid var(--neon-red);
  color: var(--neon-red);
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  
  padding: 15px 30px;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 9999;

  border-radius: 10px;
  width: fit-content;
  font-size: 14px;

  position: absolute;
  top: 2%;
  right: 2%;

  -webkit-user-select- : none;
  -ms-user-select: none;
  user-select: none;

  box-shadow: 
    0 0 10px rgba(255, 0, 63, 0.3),
    inset 0 0 10px rgba(255, 0, 63, 0.2);
}

.popUp-content-wrapper.show{
  opacity: 1;
  transform: translateY(0);
}

.popUp-content-wrapper i{
  color: var(--neon-red);
}

.auth-header{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.auth-header,
.auth-header span {
  color: white;
  font-size: 14px;
}

.nodes-threats-wrapper{
  display: flex;
  gap: 35px;
}

.nodes-threats-wrapper span{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #878a9a;
  font-family: "JetBrains Mono", monospace;
}

.nodes-threats-wrapper span:nth-child(1) i{
  font-size: 18px;
  color: rgb(1, 99, 1);
  animation: glowSoft 2s infinite;
}

.nodes-threats-wrapper span:nth-child(2){
  color: red;
}

.nodes-threats-wrapper span:nth-child(2) i{
  font-size: 20px;
  animation: glowSharp 2s infinite ease-in-out;
}

.nodes-threats-level-wrapper{
  color: red;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  border: 1px solid red;
  padding: 1px 15px;
  font-size: 16px;
  border-radius: 6px;

  animation: yellowGlow 3s ease-in-out infinite;
}

.nodes-threats-level-wrapper i{
  font-size: 18px;
}

.auth-hero{
  color: white;
  padding: 75px;
}

.content-wrapper{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.auth-hero-container h1 {
  display: block;
  position: relative;
  font-family: "JetBrains Mono", monospace;
  font-size: 96px;
  color: #00bcd4;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0; 
  padding: 0;
  text-align: center;
  width: 100%;

  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 2px
  );

  animation: textShakeSmall 0.4s infinite;
}

.auth-hero-container h1::before,
.auth-hero-container h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: block;
  text-align: center;
  pointer-events: none;
}

.auth-hero-container h1::before {
  color: #ff4d4d;
  z-index: -1;
  transform: translateX(-3px);
}

.auth-hero-container h1::after {
  color: #0051ff;
  z-index: -2;
  transform: translateX(2px);
}

.auth-hero-container p{
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  color: #00e1ff;
  animation: blueGlow 3s infinite;
  font-weight: bold;
}

.terminal-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  padding: 50px;
}

.terminal{
  font-family: "JetBrains Mono", monospace;
  color: var(--neon-green);
  background-color: black;
  border: 1px solid var(--neon-green);

  width: 650px;
  height: 275px;
  padding: 25px 35px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-start;

  gap: 4px;
}

#typingText{
  line-height: 1.4;
  font-size: 16px;
  font-family: "JetBrains Mono", monospace;
}

.terminal-wrapper button{
  opacity: 0;
  background: transparent;
  color: var(--neon-green);
  padding: 15px 40px;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  border-radius: 8px;

  border: 1.5px solid var(--neon-green);
  position: relative;
  
  box-shadow: 
    0 0 10px rgb(3, 218, 3), 
    inset 0 0 5px rgb(3, 218, 3);
    
  letter-spacing: 3px;
  outline: none;
  pointer-events: none;
  cursor: default;
}

.terminal-wrapper button.show{
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.terminal-wrapper button:hover{
  background-color: rgba(3, 218, 3, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 0; 
  backdrop-filter: blur(5px);
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.popup-enter-username {
  position: relative;
  background-color: var(--dark-bg);
  border: 1px solid var(--neon-green);
  padding: 40px;
  position: relative;
  width: 500px;
  box-shadow: 0 0 15px rgba(0, 255, 127, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "JetBrains Mono", monospace;
  opacity: 0;
}

.popup-enter-username.show{
  opacity: 1;
}

.close-btn{
  font-size: 24px;
  color: rgb(159, 158, 158);
  position: absolute;
  right: 4%;
  top: 5%;
  cursor: pointer;
  transition: all .1s ease;
}

.close-btn:hover{
  color: white;
}

.popup-title {
  color: var(--neon-green);
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.popup-description {
  color: #888;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.input-field{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.input-field input{
  border: 1px solid #1a3a2a;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  caret-color: var(--neon-green);
  color: var(--neon-green);
}

.init-contect-btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.init-contect-btn-wrapper button{
  background-color: transparent;
  color: var(--neon-green);
  padding: 15px 40px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 8px;

  border: 1.5px solid var(--neon-green);
  
  box-shadow: 
    0 0 10px rgb(3, 218, 3), 
    inset 0 0 5px rgb(3, 218, 3);
    
  text-shadow: 0 0 8px rgb(3, 218, 3);
   
}

.init-contect-btn-wrapper button:hover{
  background-color: rgba(3, 218, 3, 0.1);
}















@keyframes glowSoft{
  0%{
    color: #00aa00;
    text-shadow: 0 0 5px #00aa00;
  }

  50%{
    color: #00ff00;
    text-shadow:
      0 0 10px #00ff00,
      0 0 20px #00ff00,
      0 0 40px #00ff00;
  }

  100%{
    color: #00aa00;
    text-shadow: 0 0 5px #00aa00;
  }
}

@keyframes glowSharp{
  0%{
    color: rgba(255, 0, 0, 1);
    text-shadow: 0 0 10px red;
  }

  30%{
    color: rgba(255, 0, 0, 0.6);
    text-shadow: 0 0 6px red;
  }

  45%{
    color: rgba(255, 0, 0, 0.2);
    text-shadow: none;
  }

  60%{
    color: rgba(255, 0, 0, 0.8);
    text-shadow: 0 0 8px red;
  }

  75%{
    color: rgba(255, 0, 0, 0.4);
    text-shadow: 0 0 4px red;
  }

  100%{
    color: rgba(255, 0, 0, 1);
    text-shadow: 0 0 10px red;
  }
}

@keyframes yellowGlow{
  0%{
    text-shadow: 0 0 4px rgba(255, 210, 0, 0.2);
    box-shadow: 0 0 6px rgba(255, 210, 0, 0.15);
  }

  50%{
    text-shadow:
      0 0 8px rgba(255, 210, 0, 0.6),
      0 0 18px rgba(255, 210, 0, 0.5);

    box-shadow:
      0 0 10px rgba(255, 210, 0, 0.4),
      0 0 25px rgba(255, 210, 0, 0.3);
  }

  100%{
    text-shadow: 0 0 4px rgba(255, 210, 0, 0.2);
    box-shadow: 0 0 6px rgba(255, 210, 0, 0.15);
  }
}

@keyframes textShakeSmall{
  0%{
    transform: translate(0, 0);
  }
  20%{
    transform: translate(-1px, 0);
  }
  40%{
    transform: translate(1px, -2px);
  }
  60%{
    transform: translate(0, 1px);
  }
  80%{
    transform: translate(-2px, -2px);
  }
  100%{
    transform: translate(0, 0);
  }
}


@keyframes textShakeSmall {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-1px, 0.5px); }
  40% { transform: translate(1px, -1px); }
  60% { transform: translate(-0.5px, 1px); }
  80% { transform: translate(1px, 1px); }
  100% { transform: translate(0, 0); }
}

@keyframes blueGlow {
  0%{
    color: #00e1ff;
  }

  50%{
    color: #017382;
  }
  
  100%{
    color: #00e1ff;
  }
}